body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .input-field .prefix ~ .select-wrapper {
  margin-left:3rem;
  width:92%;
  width:calc(100% - 3rem);
}
